* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.titulo {
    color: #0c0c85;
    display: flex;
    justify-content: center;
    margin-top: 3.25rem;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 6.25rem !important;
    font-family: 'WindSong', cursive;
    text-align: center;
}
h4 {
    font-family: 'WindSong', cursive;
    font-size:  3.625rem !important;
}
img {
    background-color: transparent !important;
}

.corazon  {
    width: 40px;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.linea {
    display: flex;
    justify-content: center;
}
.linea div{
    width: 150px;
    margin-top:30px ;
}

.fecha{
    color: #0c0c85;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#countdown {
    font-size: 44px;
    color: #0c0c85;
    margin-top: 20px;
    height: 100px;
}

.flecha {
    background-color:#0c0c85;
    animation: moverDesdeArriba 1s ease-in-out infinite;
    margin-top: 60px;
    width: 30px;
}

@keyframes moverDesdeArriba {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.contador {
    margin-top: 20px;
}
.calendario {
    color: #0c0c85;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 20px;
    
}
.calendario img {
    width: 40px;
    margin-right: 30px;
    
}
.boton-blanco {
    background-color: #4668d8; /* Fondo blanco */
    color: #fcf8f8; /* Texto de color oscuro */
    border: 2px solid #333; /* Borde sólido oscuro */
    border-radius: 50%;
    padding: 10px 20px; /* Relleno interno */
    text-decoration: none; /* Quita subrayado enlaces (por defecto en algunos navegadores) */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Agrega transiciones suaves */
}

/* Estilos al pasar el mouse sobre el botón */
.boton-blanco:hover {
    background-color: #ffffff; /* Fondo oscuro al pasar el mouse */
    color: #000008; /* Texto blanco al pasar el mouse */
    border-color: black; /* Borde blanco al pasar el mouse */
}


.copa {
    width: 40px;
}
.salon {
    margin: 30px;
}
.flecha2 {
    background-color: #0c0c85;
    animation: moverDesdeArriba 1s ease-in-out infinite;
    margin-top: 50px;
    width: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: #ffffff; /* Fondo oscuro al pasar el mouse */
    color: #000008; /* Texto blanco al pasar el mouse */
    border-color: black; /* Borde blanco al pasar el mouse */
}
.faltan {
    text-align: center;
}

.iframe {
    border: 0;
    width: 90%;
    margin: 20px;
}
.mapa {
    display: flex;
    justify-content: center;
    margin: 20px; 
}

.menu {
    text-align: center;
}

 
/* Agrega una clase al elemento section para estilizar la imagen de fondo */
.parallax {
    background-image: url('../assets/icon/mia4.jpeg'); /* Reemplaza con la ruta correcta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top !important;
    background-position: center;
    background-attachment: scroll;
    width: 90%;
    height: 500px !important;
}

/* Ajusta el contenido dentro de la sección para que sea legible */
.parallax h1 {
    color: #ffffff;
    font: size 6rem;;
    text-align: center;
    padding: 50px;
}
.mapita {
    width: 100%;
}
h6 {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.imagenmenu {
    margin: 50px;
}
.carousel{
    width: 90%;
}

.caruel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fechaabril {
    font-size: 40px;
}


h1 {
    padding: 30px;
}


.opcionAutocompletado {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: -1px;
} 

.opcionAutocompletado:hover {
    background-color: #f1f1f1;
}  
.miafoto {
    width:90%;
    height: auto;
}

.boton-blanca {
    background-color: #4668d8;
    color: #fcf8f8;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.margenmusica {
    margin-top: 10px;
}

.musica {
    display: flex;
}

.dresscode {
    display: flex;
}


@media (max-width: 768px) {
    .parallax {
        background-image: url('../assets/icon/mia1.jpeg');
        width: 100%;
        height: 150px !important; 
    }
  }


.creador {
        font-size: 13px;
        font-family: cursive;
}